@using System.Configuration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDataPaypal</title>
</head>
<body>
    <div>
        Its Done! Well Played!
    </div>
    <br />


    <a href="@Url.Action("Index","ShoppingCart")">@Url.Action("Index", "ShoppingCart")</a>
</body>
</html>
